<div>
     
		
		<div class="main-container">
		<section id="hellosection"class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
		        <ul class="slides">
		            <li class="overlay image-bg">
		                <div class="background-image-holder">
		                    <img alt="image" class="background-image" src="assetsLanding/img/vent1.jpg">
		                </div>
		                <div class="container v-align-transform">
		                    <div class="row" style="padding:10px; ">
		                        <div class="col-md-6 col-sm-8">
		                            <h1 class="mb40 mb-xs-16 large" style="font-family:futura-Medium">ASESORAMOS EL MUNDO COMPARTIENDO.</h1>
		                            <h6 class="uppercase mb16" id="subheading">Expertos Curados dispuestos a ayudarte</h6>
		                            <p class="lead mb40">
                                        Abogados, Diseñadores, Hackers, Inversores, Medicos, RRPPS, Data Sciences, Maestros, Instagramers, Gammers, CEO´S... <br>
		                            </p>



		                            

		                            
                                    
		                        </div>
                                <div class="col-md-6 col-sm-8" id="box-register">
                                    
								 	<div class="row-register">
                                        <div class="register-home">

                                        <h5 style="font-family: futura-medium">Regístrate en menos de un minuto.</h5>

                                        
                                        <input type="text" name="text" ng-model="register.name" required class="form-control" placeholder="¿Cual es tu nombre?" id="input-index"/>
                                        
                                        <div class="form-group">
                                        	<span class="fa fa-user"></span>
                                        	<span class="fa fa-lock"></span>

	                                        <input type="text" name="text" ng-model="register.email" required class="form-control" placeholder="Escribe aqui tu correo" id="input-index"/>
	                                        
                                    	
                                    	
                                        <input type="password" name="password" ng-model="register.password" required class="form-control" placeholder="Escribe aqui tu contraseña" id="input-index" />

                                        </div>

                                        <a class="btn btn-lg" width="100%"style="background-color:#4FC3F7; font-family: futura-Medium; border-radius:30px; width: 100%;" ng-click="register.signUp()">Resgistrarme en Mentory</a>

                                        

                                        <p style="font-size:small;">*Regístrandote aceptas nuestros terminos.</p>

                                           
                                            
                                        </div>
                                        
                                    </div>
                                    
                                    
                                    
                                </div>
		                    </div>
		                    
		                </div>
		                
		            </li>
		        </ul>
		    </section>

		    <div class="colaborators-company" style="width:100%; height:100px; background-color:#fafafa; border: 1px solid #f0f0f0">

		    		<div class="col-lg-12 logocollection-2 text-center">
		            		<img src="assetsLanding/img/wayra.jpg" style="width: 5%">
		            		<img src="assetsLanding/img/dev-f.png" style="width: 7%">
		            		<img src="assetsLanding/img/ideo.png" style="width: 7%; margin:1px">
		            		<img src="assetsLanding/img/adidas.png" style="width: 5%">
		            		<img src="assetsLanding/img/santander.jpg" style="width: 10%">
		            		<img src="assetsLanding/img/techshop.png" style="width: 10%">
		            		<img src="http://www.userlogos.org/files/logos/siipikarja/google_black.png" style="width: 7%">
		            		
		            </div>


		    </div>
            
            <div class="content-message boxs" style="background: url(assetsLanding/img/mentorycard.jpg); width:100%; height:600px">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <!--<img stye="background-img responsive-img" src="upload/baner.jpg">-->
                           
                            
                        </div>
                    </div><!-- end row -->
                </div><!-- end content message -->

		    


		    <div id="como3" class="pb64 pb-xs-40 bg-secondary">
		        <div class="container" style="top:5vw">
		            <div class="row mb64 mb-xs-24">
                        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center" >
                            <h3 style="font-family: futura-Medium">¿Por qué utilizar Mentory?</h3>
                        </div>

		                <div class="col-sm-4 text-center">
		                    <div class="feature">
		                        
		                         <img  class="howimg"src="assetsLanding/img/1object.jpg" style="width:45%">
		                        <h4>Crea tu perfil</h4>
		                        <p>
		                            Explora videos, escucha historias de éxitos y fracasos. Descubre a expertos en  cada una de las diferentes categorías, para encontrar a los mentores que más empatizan con tu proyecto.
		                        </p>
		                    </div>
		                </div>
		                <div class="col-sm-4 text-center">
		                    <div class="feature">
		                        
		                        <img class="howimg" src="assetsLanding/img/2object.jpg" style="width:45%">
		                        <h4>Organiza tus citas</h4>
		                        <p>
		                           Maneja tus calendarios para organizar tus videollamadas, apuntes, mensajes y visitas de mentores. 
		                        </p>
		                    </div>
		                </div>
		                <div class="col-sm-4 text-center">
		                    <div class="feature">
		                        <img class="howimg" src="assetsLanding/img/3object.jpg" style="width:45%">
		                        <h4>Haz crecer tus ideas</h4>
		                        <p>
		                            Planea estrategias completas, soluciona tus problemas. Pon a prueba tu trabajo con los mejores mentores. Motiva a tu equipo para llegar a nuevas metas y cumplir los objetivos. 
		                        </p>
		                    </div>
		                </div>

		                <div class=" text-center">
		                <a  href="#/login" class="btn btn-primary" style="border-radius:20px;     border: 2px solid #4FC3F7;
   						color: #4FC3F7;background: transparent !important;">
                                        No esperes para empezar
                        </a>
                        </div>
		            </div>
		            
		        </div>
		        
		    </div>

		    <div class="content-message boxs" style="background: linear-gradient(135deg, #4DD0E1 0%,#F06292 100%);">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <!--<img stye="background-img responsive-img" src="upload/baner.jpg">-->
                           
                            <div class="logoclients">
                                    <h1 style="font-family:futura-Medium; color:#fff">Muchos Expertos ya usan nuestra plataforma</h1>



                                    <div class="Quote">
                                       <h4 style="color:#fff" class="name-quote"> Louren Philipes</h4>
                                       <div class="img-quote">
                                           <img  class="img-circule"  style="border-radius:100%" src="upload/louren.jpg">
                                       </div>
                                       <div class="text-qoute">
                                           <p style="color:#fff">Desde San Francisco pude mentorizarme en Angular.js facil y con un buen precio!!!</p>
                                       </div>
                                   </div>


                                    

                            </div>
                        </div>
                    </div><!-- end row -->
                </div><!-- end content message -->


            
            <section style=" background: #fff">
		        <div class="container">
		            <div class="row">
		            	<h2 class="Newstitle" style="font-family:futura-medium"> Expertos donde quiera que vayas</h2>
		            	<div class="col-md-6 " >
		            		<img src="assetsLanding/img/phone.jpg" style="width:100%">
		            	</div>
		            	<div class="col-md-6 logocollection">
		            		<img src="http://santamariapoloclub.com/wo/wp-content/uploads/2014/07/6-gentleman-logo-medio-oficial.png" style="width: 20%">
		            		
		            		<img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c0/Vice_logo.svg/1024px-Vice_logo.svg.png" style="width: 15%">
		            		<img src="https://2015.mexico.wordcamp.org/files/2015/09/Forbes-Logo-150x1501.jpg" style="width: 20%">
		            		<div class="col-md-8" id="quotes">
		            			<p><strong>Juan luis Ramirez</strong> "Mentory ha hecho posible que nuestro personal crezca en confianza para desarrollar sus proyectos"</p>
		            			<p><strong>Maria Muñoz</strong> "Mentory supone una nueva herramienta tanto para mentores como para emprendedores de hacer mas eficiente el mundo"</p>
		            		</div>
		            		
		            	</div>
		                
		            </div>
		            
		        </div>
		        
		    </section>

		    
		    <section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
                <ul class="slides">
                    <li class="overlay1 image-bg">
                        <div class="background-image-holder">
                            <img alt="image" class="background-image" src="assetsLanding/img/jordan.jpg">
                        </div>
                        <div class="container v-align-transform">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <h1 class="mb40 mb-xs-16 large" style="font-family:futura-Medium; color:#fff">Donde quiera que estes, llegaras mas lejos que nunca.</h1>
                                    <h6 class="uppercase mb16">Somos una plataforma que conecta profesionales de alto nivel de expertis</h6>
                                    <p class="lead mb40">
                                        Todo lo que alguien necesita es estar bien guiado. 
                                        <br>Desde que damos nuestro primer paso.
                                    </p>
                                   


                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </li>
                </ul>
            </section>

        </div>
</div>