<section class="section1 single-wrap">

            <div class="heroimage">
                <div class="row">
                    <img  style="width:100%; height:250px " src="upload/herotag.jpg">
                </div>
            </div> 

            <h2  class="text-center"style="color:#000"> -  {{discover.categoryToShow}} -</h2>

            


            <div class="container2" style="float:left">
            

                <div class="content-before">
                    <div class="row" style="height:50px">
                        
                        <div class="col-md-12 text-right hidden-xs">
                            <div class="catalog-order">
                            
							Ordenar por:
							<select name="orderby" class="selectpicker" ng-model="sortType">
								
								<option value="-created" selected>Nuevos</option>
								<option value="name" >Ordenar alfabeticamente</option>
							</select>
                            </div>
                           
                        </div>
                    </div><!-- end row -->
                </div><!-- end content before -->

				
				
                <div class="content">
                    <div class="row">


                        <div class="form-group row wow fadeIn">
                                        
                                        <div class="col-sm-2 col-xs-12">
                                            <a href="single-item.html" class="screenshot" data-gal="upload/louren.jpg" title="This is an item title <span>$12.00</span>"><img class="img-responsive img-circule"  style="border-radius:100%"src="upload/louren.jpg" alt=""></a>
                                        </div>
                                        <div class="col-sm-7 col-xs-12">
                                            <h4><a href="">Lauren Philipes</a></h4>
                                            <ul>
                                                <li><a href="#"><i class="fa fa-user"></i> DesignElite</a></li>
                                                <li><a href="#"><i class="fa fa-envelope-o"></i> Get Support</a></li>
                                                <li><a href="#"><i class="fa fa-folder-open-o"></i> IOS Applications</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 col-xs-12 text-center">
                                            <ul>
                                                <li><a href="#" class="btn btn-primary btn-block">Llamar Mentor</a></li>
                                                <li><a href="" title="">221 Sales</a></li>
                                                <li>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- end form-group --> 
						
                        <div class="col-md-4 col-sm-6" ng-repeat="user in discover.user | orderBy: sortType "  ng-if="discover.hasThisCategory(user.categories)" ng-click='discover.goToProfile(user.iduser)' >
							
                            <div class="item-box" >
                                <div class="item-media entry">
                                    <div class="theme__button">
                                        <p><a href="single-item.html" title="">{{mentory.cost | currency}}</a></p>
                                    </div>
                                    <img ng-src="{{home.person.profileimage}}" alt="" class="img-responsive" >
                                    <div class="magnifier">
										
                                        <div class="item-author">
                                            <h2 style="color:#fff" class="item-author-titule text-left">{{mentory.person.name}}</h2>
                                            <p style="color:#fff; top:10px" class="item-author-titule text-left">{{mentory.person.job}}</p>
                                            <li class="text-left">
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </li>
                                            <div class="tags tags-categories text-left">
                                            <br>
                                                <a class="btn2-hover"  ng-repeat="category in mentory.categories" ng-if="$index < 1"> {{category.name}} </a> 
                                        
                                            </div>
                                        </div><!-- end author -->
										
                                    </div>
                                </div><!-- end item-media -->
                                <h4><a ng-href="#/mentory/{{mentory.idmentory}}">{{mentory.name}}</a></h4>
                                <small><a><i class="fa fa-phone"></i> 193</a></small>
                                <small><a ><i class="fa fa-comment-o"></i> 12</a></small>
                                
                            </div><!-- end item-box -->
                        </div><!-- end col -->
	     
                    </div>
                </div>

				<!--Pagination
               <div class="content-after text-center boxs">
                    
						<div class="row">
                        <div class="col-md-12">
                            <nav class="pagination-wrapper">
                                <ul class="pagination">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div><!-- end content after -->

                       
                <div class="content-message boxs" style="background-color:#1BBC9B">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <!--<img stye="background-img responsive-img" src="upload/baner.jpg">-->
                           
                            <div class="Suscribete" style="background-color:#1BBC9B">
                                    <h1 style="font-family: futura-Medium; color:#fff">Suscribete a Mentory Live</h1>
                                    <button class="btn" style="background-color:#1BA39C; border-radius:30px; color:#fff">  Registrate y obten 7 dias gratis</button>
                                    

                            </div>
                        </div>
                    </div><!-- end row -->
                </div><!-- end content message -->
            </div><!-- end container -->

            <div class="col-lg-3 col-sm-3"><!--  Sidebar -->

               <div class="row" style="background-color:#EEEEEE; padding:20px">

                    <h3 style="font-family:futura-Medium">Precios(pesos)</h3>

                    <rzslider rz-slider-model="home.searchCost"  rz-slider-options="home.sliderOptions"></rzslider>

                    <h3 style="font-family:futura-Medium">Areas de Exertis</h3>


                    <div>
                        <li>
                            <ul class="subarea" style="font-family:futura-Medium">Backend</ul>
                            <ul class="subcategory" style="font-family:futura-Medium">Angular.js</ul>
                            <ul class="subcategory" style="font-family:futura-Medium">Angular.js</ul>
                            <ul class="subcategory" style="font-family:futura-Medium">Angular.js</ul>
                            <ul class="subcategory" style="font-family:futura-Medium">Angular.js</ul>
                            <ul class="subcategory" style="font-family:futura-Medium">Angular.js</ul>
                            <ul class="subcategory" style="font-family:futura-Medium">Angular.js</ul>
                        </li>
                    </div>

                    <h3 style="font-family:futura-Medium">Otras Categorias</h3>
                    <div>
                        <li ng-repeat="category in discover.categories">
                            <ul style="font-family:futura-Medium">{{discover.category.name}}<img class="img-responsive" style="border-radius:100%" src="images/iconcategories/orange.jpg"></ul>
                            <ul style="font-family:futura-Medium"><img class="img-responsive" style="border-radius:100%" src="images/iconcategories/gaming.jpg"></ul>
                            <ul style="font-family:futura-Medium"><img class="img-responsive" style="border-radius:100%" src="images/iconcategories/marketing.jpg"></ul>
                            <ul style="font-family:futura-Medium"><img class="img-responsive" style="border-radius:100%" src="images/iconcategories/Business.jpg"></ul>
                            <ul style="font-family:futura-Medium"><img class="img-responsive" style="border-radius:100%" src="images/iconcategories/medicina.jpg"></ul>
                            <ul style="font-family:futura-Medium"><img class="img-responsive" style="border-radius:100%" src="images/iconcategories/imagen.jpg"></ul>
                            

                        </li>
                    </div>


        

                </div><!-- end Row -->

            </div><!-- end Sidebar -->
            
        </section>