        <header class="header">
            <div class="container-menu">
                <nav class="navbar navbar-default yamm">
                    <div class="container">
                        <div class="navbar-table">
                            <div class="navbar-cell">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="index.html"><i class="fa fa-hashtag"></i> Mentory.co</a>
                                    <div class="open-menu">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="fa fa-bars"></span>
                                        </button>
                                    </div>
                                </div><!-- end navbar-header -->
                            </div><!-- end navbar-cell -->
                            <div class="navbar-cell stretch">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                    <div class="navbar-cell">
                                        <ul class="nav navbar-nav navbar-center">
                                            <li class="dropdown megamenu yamm-half hovermenu"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Discover <b class="fa fa-angle-down"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                    <div class="yamm-content">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6">
                                                                <div class="box">
                                                                    <ul>
                                                                        <li><a href="shop-four.html"><img src="images/azulvisual.jpg" class="icon-down"></i>Business</a></li>
                                                                        <li><a href="shop-three.html">Startups</a></li>
                                                                        <li><a href="shop-two.html">Marketing</a></li>
                                                                        <li><a href="shop-infinite.html">Financial Advice</a></li>
                                                                        <li><a href="shop-filterable.html">Carrer advice</a></li>
                                                                        <li><a href="single-item.html">Asesoria legal</a></li>
                                                                        <li><a href="shop-checkout.html">Operaciones</a></li>
                                                                        <li><a href="shop-favorites.html">Fusion y venta</a></li>
                                                                    </ul>
                                                                </div><!-- end box -->
                                                            </div><!-- end col -->
                                                            <div class="col-md-4 col-sm-6">
                                                                <div class="box">
                                                                    <ul>
                                                                        <li><a href="stores.html">All Stores</a></li>
                                                                        <li><a href="about.html">About Us</a></li>
                                                                        <li><a href="contact.html">Contact Us</a></li>
                                                                        <li><a href="services.html">Custom Services</a></li>
                                                                        <li><a href="pricing.html">Pricing & Plan</a></li>
                                                                        <li><a href="search.html">Search Results</a></li>
                                                                        <li><a href="maintenance.html">Maintenance Mode</a></li>
                                                                        <li><a href="page.html">Page Sidebar</a></li>
                                                                    </ul>
                                                                </div><!-- end box -->
                                                            </div><!-- end col -->
                                                            <div class="col-md-4 col-sm-6">
                                                                <div class="box">
                                                                    <ul>
                                                                        <li><a href="page-fullwidth.html">Page Fullwidth</a></li>
                                                                        <li><a href="page-404.html">404 - Not Found</a></li>
                                                                        <li><a href="elements.html">All Elements</a></li>
                                                                        <li><a href="login.html">Login & Register</a></li>
                                                                        <li><a href="faqs.html">FAQS & Support</a></li>
                                                                        <li><a href="single-forum.html">Single Forum</a></li>
                                                                        <li><a href="single.html">Single Blog</a></li>
                                                                        <li><a href="bundle.html">Bundle (Landing Page)</a></li>
                                                                    </ul>
                                                                </div><!-- end box -->
                                                            </div><!-- end col -->
                                                        </div>
                                                    </div><!-- end ttmenu-content -->
                                                    </li>
                                                </ul>
                                            </li><!-- end mega menu -->
                                            <li class="dropdown megamenu yamm-half hovermenu"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Market <b class="fa fa-angle-down"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                    <div class="yamm-content">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <div class="box">
                                                                    <h5>Market Categories</h5>
                                                                    <ul>
                                                                        <li><a href="category.html"><i class="fa fa-apple"></i> IOS Applications</a></li>
                                                                        <li><a href="category.html"><i class="fa fa-android"></i> UI - GUI Kits</a></li>
                                                                        <li><a href="category.html"><i class="fa fa-fonticons"></i> Icons & Fonts</a></li>
                                                                        <li><a href="category.html"><i class="fa fa-envelope-o"></i> Email Templates</a></li>
                                                                        <li><a href="category.html"><i class="fa fa-html5"></i> Site Templates</a></li>
                                                                        <li><a href="category.html"><i class="fa fa-gear"></i> Admin Templates</a></li>
                                                                        <li><a href="category.html"><i class="fa fa-laptop"></i> Landing Templates</a></li>
                                                                    </ul>
                                                                </div><!-- end box -->
                                                            </div><!-- end col -->
                                                            <div class="col-md-6 col-sm-6">
                                                                <div class="box">
                                                                    <h5>User Profile</h5>
                                                                    <ul>
                                                                        <li><a href="edit-account.html">Edit Account</a></li>
                                                                        <li><a href="public-profile.html">Public profile</a></li>
                                                                        <li><a href="sales.html">My Sales</a></li>
                                                                        <li><a href="messages.html">Messages</a></li>
                                                                        <li><a href="upload-item.html">Upload Item</a></li>
                                                                        <li><a href="downloads.html">Downloads</a></li>
                                                                        <li><a href="login.html">Login & Register</a></li>
                                                                    </ul>
                                                                </div><!-- end box -->
                                                            </div><!-- end col -->
                                                        </div>
                                                    </div><!-- end ttmenu-content -->
                                                    </li>
                                                </ul>
                                            </li><!-- end mega menu -->
                                            <li><a href="forum.html" title="">Dashboard</a></li>
                                            <li><a href="blog.html" title="">Pricing</a></li>
                                            <li><a href="contact.html" title="">Contact</a></li>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="dropdown membermenu hovermenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="upload/member.png" alt="" class="img-circle"> <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-header">Profile</li>
                                                    <li><a href="edit-account.html">Edit Account</a></li>
                                                    <li><a href="#">Logout</a></li>
                                                    <li><hr></li>
                                                    <li class="dropdown-header">Dashboard</li>
                                                    <li><a href="public-profile.html">Public profile</a></li>
                                                    <li><a href="sales.html">My Sales</a></li>
                                                    <li><a href="messages.html">Messages</a></li>
                                                    <li><a href="upload-item.html">Upload Item</a></li>
                                                    <li><a href="downloads.html">Downloads</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div><!-- end navbar-cell -->
                                </div><!-- /.navbar-collapse -->        
                            </div><!-- end navbar cell -->
                        </div><!-- end navbar-table -->
                    </div><!-- end container fluid -->
                </nav><!-- end navbar -->
            </div><!-- end container -->
        </header>