 <section class="section single-wrap" id="login-view" style="background: linear-gradient(135deg, #4DD0E1 0%,#F06292 100%);">
            <div class="container" style="top:20px">
                <div class="page-title">
                    <div class="row">
                        <div class="col-sx-12 text-center">
                            <h3></h3>
                            <br>
                        </div>
                    </div>
                </div>


                <div class="content boxs" style="background-color: #fafafa">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="page-content">
                                <div class="row">
                                   
                                        <div class="widget">
                                            <div class="widget-title">
                                                <h4 style="color:#000">¿Todabía no tienes una cuenta?, <a ng-href="#">Registrate en 30 segundos</a></h4>
                                            </div><!-- end widget-title -->

                                            <div class="login-form">
                                                <form  role="login" method="post">
                                                    <div class="form-group">
                                                        <label>Username or Email</label>
                                                        <input type="email" ng-model="login.email" name="email" required class="form-control" placeholder="" />
                                                        <span class="fa fa-user"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Password</label>
                                                        <input type="password" ng-model="login.password" name="password"  required class="form-control" placeholder="" />
                                                        <span class="fa fa-lock"></span>
                                                    </div>
                                                    <p>*Has olvidado tu  <a href="contacto">Contraseña?</a>
                                                    <button type="submit" name="go" ng-click="login.signIn()" class="btn btn-primary" style="float:right">Login Account</button>

                                                    
													
                                                </form>
																								
                                            </div><!-- end login-form -->
                                        </div><!-- end widget -->


                                    
                                </div><!-- end row -->
                            </div>
                        </div><!-- end col -->

                        <div class="col-md-6 col-sm-6">
                            <div class="page-content">
                                <div class="row">
                                   
                                        <div class="widget">
                                            <img src="upload/login1.jpg" style=" width:78%; margin:40px">
                                            
                                        </div><!-- end widget -->


                                    
                                </div><!-- end row -->
                            </div>
                        </div><!-- end col -->
                        <a href="" style="float:right">¿Necesitas Ayuda?<img src="upload/logoBS.png" class="imagen-resposive"></a>
                    </div><!-- end row -->
                </div><!-- end content -->
                

                <br>

               
            </div><!-- end container -->
        </section>